body{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-align: center;
}
#welcome{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-align: center;
    animation-name: swing-top-fwd,roll-out-blurred-left;
    animation-duration: 800ms;
    animation-delay: 0ms, 1600ms;
    animation-timing-function:  cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-iteration-count: 1,1;
    animation-fill-mode: forwards, both;
}
#welcome-text{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-align: center;
    animation-name: scale-in-bl;
    animation-duration: 800ms;
    animation-delay: 2700ms;
    animation-timing-function:  cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-iteration-count: 1;
    animation-fill-mode: both;

}
Button{
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
    cursor: auto; /*changes the mouse cursor when hovered over.*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: black;
    background-color: #2E2E2E;
    margin: 20px;
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 30px; /* Used to make the shape curved*/

}

.error{
    color: red;
}

* {
    box-sizing: border-box;
}

/* Style the list (remove margins and bullets, etc) */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the list items */

.linkText {
    color: black;
}
.linkText:hover {
    background-color: #eee;
}
.links {
    float: none;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    /*padding: 12px;*/
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
}

/* Add a light grey background color on hover */
.links:hover {
    background-color: #eee;
}

/* Style the close button (span) */
.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 21px 16px;
    transform: translate(0%, -50%);
    /*border: 1px solid black;*/
}

.close:hover {background: lightcoral;}