body{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-align: center;
}
.bigButton{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    font-size: 20px;
    cursor: pointer; /*changes the mouse cursor when hovered over.*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: black;
    background-color: #2E2E2E;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20px;
    display: block;
    /*float: bottom;*/
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 30px; /* Used to make the shape curved*/

}
.bigButton:hover{
    background: lavender;
    color: black;
}
#editButton{
    font-family: Arial;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 25px 22px;
    transform: translate(0%, -52%);
    background: #f6f6f6;
    border: none;
}
#editButton:hover {
    background: lightblue;
}

.error{
    color: red;
}

* {
    box-sizing: border-box;
}

/* Style the list (remove margins and bullets, etc) */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the list items */

.linkText {
    color: black;
}
.linkText:hover {
    background-color: #eee;
}
.links {
    float: none;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    /*padding: 12px;*/
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
}

/* Add a light grey background color on hover */
/*.links:hover {*/
/*    background-color: #eee;*/
/*}*/

/* Style the close button (span) */
.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 21px 16px;
    transform: translate(0%, -50%);
    /*border: 1px solid black;*/
}

.close:hover {
    background: lightcoral;
}

.edit {
    font-family: Arial;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 21px 16px;
    transform: translate(0%, -50%);
    /*border: 1px solid black;*/
}

.edit:hover {
    background: lightblue;
}